body {
    min-height: 1vh;
    margin: 0;
    font-family: 'Helvetica Neue', sans-serif !important;
    font-size: 16px;
    background-color: #efeff2;
  }
  
  .main {
    background-color: #efeff2;
  }
  
  .hide-mobile {
    display: none;
  }
  
  @media (min-width: 776px) {
    .hide-mobile {
      display: flex;
    }
   
  }
  
  .content {
    margin-top: 20px;
    background-color: #efeff2;
  }
  
  
  .img-responsive {
    width: 100%;
    height: 300px;
  }
  
  .cards-wrapper {
    display: flex;
    height: 180px;
  }
  .cards-wrapper .divider {
    width: 2px;
    background: transparent;
  }
  .card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* utilities */
  .mb-15 {
    margin-bottom: 15px;
  }
  .mb-20 {
    margin-bottom: 20px;
  }
  .ml-5 {
    margin-left: 5px;
  }
  .d-flex {
    display: flex;
  }
  .flex-column {
    flex-direction: column;
  }
  .align-items-center {
    align-items: center;
  }
  .text-bold {
    font-weight: 600;
  }
  .text-green {
    font-size: 20px;
    font-weight: 600;
    color: #3fb34a;
  }
.vin{
    white-space: nowrap
}  